@use "../abstracts" as *;

.bottom-nav {
  max-width: $max-width;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  @include flex(row, space-around, center);
  background: var(--ink);
  border-top: $border-width solid $color-gray-300;
  padding: spacer(2) 0;
  z-index: $z-index-fixed;

  &__item {
    @include flex(column, center, center);
    gap: spacer(1);
    text-decoration: none;
    color: $color-white;
    font-size: $font-size-sm;

    svg {
      font-size: $font-size-xl;
    }

    &.active {
      color: $color-primary;
    }
  }
} 